PORT=5000
DATABASE_URL="postgresql://postgres.vbzgextbsjiwakppifrf:[ugS&$j3#NsrS0a0VyaN@]@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.vbzgextbsjiwakppifrf:[ugS&$j3#NsrS0a0VyaN@]@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"
JWT_SECRET=128dd0f4-6064-4dc9-ab1a-06ce89a34336
JWT_EXPIRES_IN=7d
